<!-- <textarea rows="6" [value]="newPost" #postInput></textarea> -->


<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input matInput type="text" name="title" ngModel required #title="ngModel" placeholder="Title">
      <mat-error *ngIf="title.invalid">Enter a valid title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="6" name="content" ngModel required #content="ngModel" placeholder="Content"></textarea>
      <mat-error *ngIf="content.invalid">Enter a valid content</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Save post</button>
  </form>
</mat-card>

<hr>